
- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [1]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags

## Directory

In [2]:
def process_json_files(directory_path, output_csv_path):
    """
    Process JSON files in the specified directory, normalize the data, and save it to a CSV file.

    Parameters:
    - directory_path: str, path to the directory containing JSON files.
    - output_csv_path: str, path to save the output CSV file.

    Returns:
    - None
    """
    # List all JSON files in the specified directory
    files = [f for f in os.listdir(directory_path) if f.endswith('.json')]
    print("Files in directory:")
    print(files)

    # Initialize an empty list to store dataframes
    df_list = []

    # Iterate over each JSON file in the directory
    for file_name in files:
        file_path = os.path.join(directory_path, file_name)
        
        # Open and read the JSON file
        with open(file_path, 'r') as file:
            data = json.load(file)
        
        # First level normalization
        df = pd.json_normalize(data['data']['results'])
        
        # Second level normalization
        if 'branding' in df.columns:
            branding = pd.json_normalize(df['branding'].explode())
            branding.columns = [f'branding.{col}' for col in branding.columns]
            df = df.drop('branding', axis=1).join(branding)

        if 'description' in df.columns:
            description = pd.json_normalize(df['description'])
            description.columns = [f'description.{col}' for col in description.columns]
            df = df.drop('description', axis=1).join(description)

        if 'flags' in df.columns:
            flags = pd.json_normalize(df['flags'])
            flags.columns = [f'flags.{col}' for col in flags.columns]
            df = df.drop('flags', axis=1).join(flags)

        if 'lead_attributes' in df.columns:
            lead_attributes = pd.json_normalize(df['lead_attributes'])
            lead_attributes.columns = [f'lead_attributes.{col}' for col in lead_attributes.columns]
            df = df.drop('lead_attributes', axis=1).join(lead_attributes)

        if 'location.address' in df.columns:
            location_address = pd.json_normalize(df['location.address'])
            location_address.columns = [f'location.address.{col}' for col in location_address.columns]
            df = df.drop('location.address', axis=1).join(location_address)

        if 'location.county' in df.columns:
            location_county = pd.json_normalize(df['location.county'])
            location_county.columns = [f'location.county.{col}' for col in location_county.columns]
            df = df.drop('location.county', axis=1).join(location_county)

        if 'products' in df.columns:
            products = pd.json_normalize(df['products'])
            products.columns = [f'products.{col}' for col in products.columns]
            df = df.drop('products', axis=1).join(products)
        
        # Third level normalization
        if 'location.address.coordinate' in df.columns:
            location_coordinates = pd.json_normalize(df['location.address.coordinate'])
            location_coordinates.columns = [f'location.address.coordinate.{col}' for col in location_coordinates.columns]
            df = df.drop('location.address.coordinate', axis=1).join(location_coordinates)

        if 'source.agents' in df.columns:
            source_agents = pd.json_normalize(df['source.agents'].explode())
            source_agents.columns = [f'source.agents.{col}' for col in source_agents.columns]
            df = df.drop('source.agents', axis=1).join(source_agents)

        if 'other_listings.rdc' in df.columns:
            other_listings_rdc = pd.json_normalize(df['other_listings.rdc'].explode())
            other_listings_rdc.columns = [f'other_listings.rdc.{col}' for col in other_listings_rdc.columns]
            df = df.drop('other_listings.rdc', axis=1).join(other_listings_rdc)
        
        # Append the dataframe to the list
        df_list.append(df)

    # Explicitly cast object-dtype columns with boolean values to boolean dtype
    for df in df_list:
        bool_cols = df.select_dtypes(include=['object']).columns
        for col in bool_cols:
            if df[col].dropna().apply(lambda x: isinstance(x, bool)).all():
                df[col] = df[col].astype(bool)

    # Combine all dataframes
    combined_df = pd.concat(df_list, ignore_index=True)

    # Save the combined DataFrame to a CSV file
    combined_df.to_csv(output_csv_path, index=False)

    print(f"Data saved to {output_csv_path}")

In [3]:
# Example usage:
directory_path = 'e:/Vocational/Lighthouse Labs/Flex Course/Projects/P02_Midterm_Supervised Learning/data_project_midterm/data'
output_csv_path = 'e:/Vocational/Lighthouse Labs/Flex Course/Projects/P02_Midterm_Supervised Learning/data_project_midterm/data/processed_data.csv'
process_json_files(directory_path, output_csv_path)

Files in directory:
['AK_Juneau_0.json', 'AK_Juneau_1.json', 'AK_Juneau_2.json', 'AK_Juneau_3.json', 'AK_Juneau_4.json', 'AL_Montgomery_0.json', 'AL_Montgomery_1.json', 'AL_Montgomery_2.json', 'AL_Montgomery_3.json', 'AL_Montgomery_4.json', 'AR_LittleRock_0.json', 'AR_LittleRock_1.json', 'AR_LittleRock_2.json', 'AR_LittleRock_3.json', 'AR_LittleRock_4.json', 'AZ_Phoenix_0.json', 'AZ_Phoenix_1.json', 'AZ_Phoenix_2.json', 'AZ_Phoenix_3.json', 'AZ_Phoenix_4.json', 'CA_Sacramento_0.json', 'CA_Sacramento_1.json', 'CA_Sacramento_2.json', 'CA_Sacramento_3.json', 'CA_Sacramento_4.json', 'CO_Denver_0.json', 'CO_Denver_1.json', 'CO_Denver_2.json', 'CO_Denver_3.json', 'CO_Denver_4.json', 'CT_Hartford_0.json', 'CT_Hartford_1.json', 'CT_Hartford_2.json', 'CT_Hartford_3.json', 'CT_Hartford_4.json', 'DE_Dover_0.json', 'DE_Dover_1.json', 'DE_Dover_2.json', 'DE_Dover_3.json', 'DE_Dover_4.json', 'FL_Tallahassee_0.json', 'FL_Tallahassee_1.json', 'FL_Tallahassee_2.json', 'FL_Tallahassee_3.json', 'FL_Tallahassee_4.json', 'GA_Atlanta_0.json', 'GA_Atlanta_1.json', 'GA_Atlanta_2.json', 'GA_Atlanta_3.json', 'GA_Atlanta_4.json', 'HI_Honolulu_0.json', 'HI_Honolulu_1.json', 'HI_Honolulu_2.json', 'HI_Honolulu_3.json', 'HI_Honolulu_4.json', 'IA_DesMoines_0.json', 'IA_DesMoines_1.json', 'IA_DesMoines_2.json', 'IA_DesMoines_3.json', 'IA_DesMoines_4.json', 'ID_Boise_0.json', 'ID_Boise_1.json', 'ID_Boise_2.json', 'ID_Boise_3.json', 'ID_Boise_4.json', 'IL_Springfield_0.json', 'IL_Springfield_1.json', 'IL_Springfield_2.json', 'IL_Springfield_3.json', 'IL_Springfield_4.json', 'IN_Indianapolis_0.json', 'IN_Indianapolis_1.json', 'IN_Indianapolis_2.json', 'IN_Indianapolis_3.json', 'IN_Indianapolis_4.json', 'KS_Topeka_0.json', 'KS_Topeka_1.json', 'KS_Topeka_2.json', 'KS_Topeka_3.json', 'KS_Topeka_4.json', 'KY_Frankfort_0.json', 'KY_Frankfort_1.json', 'KY_Frankfort_2.json', 'KY_Frankfort_3.json', 'KY_Frankfort_4.json', 'LA_BatonRouge_0.json', 'LA_BatonRouge_1.json', 'LA_BatonRouge_2.json', 'LA_BatonRouge_3.json', 'LA_BatonRouge_4.json', 'MA_Boston_0.json', 'MA_Boston_1.json', 'MA_Boston_2.json', 'MA_Boston_3.json', 'MA_Boston_4.json', 'MD_Annapolis_0.json', 'MD_Annapolis_1.json', 'MD_Annapolis_2.json', 'MD_Annapolis_3.json', 'MD_Annapolis_4.json', 'ME_Augusta_0.json', 'ME_Augusta_1.json', 'ME_Augusta_2.json', 'ME_Augusta_3.json', 'ME_Augusta_4.json', 'MI_Lansing_0.json', 'MI_Lansing_1.json', 'MI_Lansing_2.json', 'MI_Lansing_3.json', 'MI_Lansing_4.json', 'MN_St.Paul_0.json', 'MN_St.Paul_1.json', 'MN_St.Paul_2.json', 'MN_St.Paul_3.json', 'MN_St.Paul_4.json', 'MO_JeffersonCity_0.json', 'MO_JeffersonCity_1.json', 'MO_JeffersonCity_2.json', 'MO_JeffersonCity_3.json', 'MO_JeffersonCity_4.json', 'MS_Jackson_0.json', 'MS_Jackson_1.json', 'MS_Jackson_2.json', 'MS_Jackson_3.json', 'MS_Jackson_4.json', 'MT_Helena_0.json', 'MT_Helena_1.json', 'MT_Helena_2.json', 'MT_Helena_3.json', 'MT_Helena_4.json', 'NC_Raleigh_0.json', 'NC_Raleigh_1.json', 'NC_Raleigh_2.json', 'NC_Raleigh_3.json', 'NC_Raleigh_4.json', 'ND_Bismarck_0.json', 'ND_Bismarck_1.json', 'ND_Bismarck_2.json', 'ND_Bismarck_3.json', 'ND_Bismarck_4.json', 'NE_Lincoln_0.json', 'NE_Lincoln_1.json', 'NE_Lincoln_2.json', 'NE_Lincoln_3.json', 'NE_Lincoln_4.json', 'NH_Concord_0.json', 'NH_Concord_1.json', 'NH_Concord_2.json', 'NH_Concord_3.json', 'NH_Concord_4.json', 'NJ_Trenton_0.json', 'NJ_Trenton_1.json', 'NJ_Trenton_2.json', 'NJ_Trenton_3.json', 'NJ_Trenton_4.json', 'NM_SantaFe_0.json', 'NM_SantaFe_1.json', 'NM_SantaFe_2.json', 'NM_SantaFe_3.json', 'NM_SantaFe_4.json', 'NV_CarsonCity_0.json', 'NV_CarsonCity_1.json', 'NV_CarsonCity_2.json', 'NV_CarsonCity_3.json', 'NV_CarsonCity_4.json', 'NY_Albany_0.json', 'NY_Albany_1.json', 'NY_Albany_2.json', 'NY_Albany_3.json', 'NY_Albany_4.json', 'OH_Columbus_0.json', 'OH_Columbus_1.json', 'OH_Columbus_2.json', 'OH_Columbus_3.json', 'OH_Columbus_4.json', 'OK_OklahomaCity_0.json', 'OK_OklahomaCity_1.json', 'OK_OklahomaCity_2.json', 'OK_OklahomaCity_3.json', 'OK_OklahomaCity_4.json', 'OR_Salem_0.json', 'OR_Salem_1.json', 'OR_Salem_2.json', 'OR_Salem_3.json', 'OR_Salem_4.json', 'PA_Harrisburg_0.json', 'PA_Harrisburg_1.json', 'PA_Harrisburg_2.json', 'PA_Harrisburg_3.json', 'PA_Harrisburg_4.json', 'RI_Providence_0.json', 'RI_Providence_1.json', 'RI_Providence_2.json', 'RI_Providence_3.json', 'RI_Providence_4.json', 'SC_Columbia_0.json', 'SC_Columbia_1.json', 'SC_Columbia_2.json', 'SC_Columbia_3.json', 'SC_Columbia_4.json', 'SD_Pierre_0.json', 'SD_Pierre_1.json', 'SD_Pierre_2.json', 'SD_Pierre_3.json', 'SD_Pierre_4.json', 'TN_Nashville_0.json', 'TN_Nashville_1.json', 'TN_Nashville_2.json', 'TN_Nashville_3.json', 'TN_Nashville_4.json', 'TX_Austin_0.json', 'TX_Austin_1.json', 'TX_Austin_2.json', 'TX_Austin_3.json', 'TX_Austin_4.json', 'UT_SaltLakeCity_0.json', 'UT_SaltLakeCity_1.json', 'UT_SaltLakeCity_2.json', 'UT_SaltLakeCity_3.json', 'UT_SaltLakeCity_4.json', 'VA_Richmond_0.json', 'VA_Richmond_1.json', 'VA_Richmond_2.json', 'VA_Richmond_3.json', 'VA_Richmond_4.json', 'VT_Montpelier_0.json', 'VT_Montpelier_1.json', 'VT_Montpelier_2.json', 'VT_Montpelier_3.json', 'VT_Montpelier_4.json', 'WA_Olympia_0.json', 'WA_Olympia_1.json', 'WA_Olympia_2.json', 'WA_Olympia_3.json', 'WA_Olympia_4.json', 'WI_Madison_0.json', 'WI_Madison_1.json', 'WI_Madison_2.json', 'WI_Madison_3.json', 'WI_Madison_4.json', 'WV_Charleston_0.json', 'WV_Charleston_1.json', 'WV_Charleston_2.json', 'WV_Charleston_3.json', 'WV_Charleston_4.json', 'WY_Cheyenne_0.json', 'WY_Cheyenne_1.json', 'WY_Cheyenne_2.json', 'WY_Cheyenne_3.json', 'WY_Cheyenne_4.json']
Data saved to e:/Vocational/Lighthouse Labs/Flex Course/Projects/P02_Midterm_Supervised Learning/data_project_midterm/data/processed_data.csv

At this point, ensure that you have all sales in a dataframe.
- Is each cell one value, or do some cells have lists?
- Maybe the "tags" will help create some features.
- What are the data types of each column?
- Some sales may not actually include the sale price.  These rows should be dropped.
- Some sales don't include the property type.
- There are a lot of None values.  Should these be dropped or replaced with something?

In [4]:
df = pd.read_csv(output_csv_path)

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
df.head()

,last_update_date,tags,permalink,status,list_date,open_houses,list_price,property_id,photos,community,virtual_tours,listing_id,price_reduced_amount,matterport,primary_photo.href,source.plan_id,source.spec_id,source.type,description.year_built,description.baths_3qtr,description.sold_date,description.sold_price,description.baths_full,description.name,description.baths_half,description.lot_sqft,description.sqft,description.baths,description.sub_type,description.baths_1qtr,description.garage,description.stories,description.beds,description.type,lead_attributes.show_contact_an_agent,flags.is_new_construction,flags.is_for_rent,flags.is_subdivision,flags.is_contingent,flags.is_price_reduced,flags.is_pending,flags.is_foreclosure,flags.is_plan,flags.is_coming_soon,flags.is_new_listing,products.brand_name,location.address.postal_code,location.address.state,location.address.coordinate.lon,location.address.coordinate.lat,location.address.city,location.address.state_code,location.address.line,location.street_view_url,location.county.fips_code,location.county.name,primary_photo,source,other_listings,branding.name,branding.photo,branding.type,source.agents.office_name,other_listings.rdc.listing_id,other_listings.rdc.listing_key,other_listings.rdc.status,other_listings.rdc.primary,community.advertisers,community.description.name
0,2023-09-19T20:52:50Z,"['carport', 'community_outdoor_space', 'cul_de...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,sold,2023-06-29T21:16:25.000000Z,False,554950.0,9.074431e+09,"[{'tags': [{'label': 'house_view', 'probabilit...",False,False,2957241843,45000.0,False,https://ap.rdcpix.com/07097d34c98a59ebb7996889...,NaN,NaN,mls,1963.0,False,2023-09-18,False,2.0,False,False,10454.0,1821.0,2.0,NaN,False,1.0,NaN,3.0,single_family,True,False,False,False,False,False,False,False,False,False,False,basic_opt_in,99801.0,Alaska,-134.59372,58.36395,Juneau,AK,9453 Herbert Pl,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,EXP Realty LLC - Southeast Alaska,False,Office,EXP Realty LLC - Southeast Alaska,2.957242e+09,NaN,sold,True,NaN,NaN
1,NaN,NaN,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,sold,NaN,False,NaN,9.424984e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-22,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,8477 Thunder Mountain Rd,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,Non-Member Office,2.957023e+09,NaN,off_market,False,NaN,NaN
2,NaN,NaN,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,sold,NaN,False,NaN,9.479069e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-22,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,4515 Glacier Hwy,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,NaN,2.958935e+09,NaN,sold,False,NaN,NaN
3,NaN,NaN,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,sold,NaN,False,NaN,9.879332e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-21,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,17850 Point Stephens Rd,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,NaN,2.958935e+09,NaN,sold,False,NaN,NaN
4,NaN,NaN,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,sold,NaN,False,NaN,9.521640e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-21,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,9951 Stephen Richards Memorial Dr,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,NaN,2.958925e+09,NaN,sold,False,NaN,NaN

In [7]:
df.describe(include='all')

,last_update_date,tags,permalink,status,list_date,open_houses,list_price,property_id,photos,community,virtual_tours,listing_id,price_reduced_amount,matterport,primary_photo.href,source.plan_id,source.spec_id,source.type,description.year_built,description.baths_3qtr,description.sold_date,description.sold_price,description.baths_full,description.name,description.baths_half,description.lot_sqft,description.sqft,description.baths,description.sub_type,description.baths_1qtr,description.garage,description.stories,description.beds,description.type,lead_attributes.show_contact_an_agent,flags.is_new_construction,flags.is_for_rent,flags.is_subdivision,flags.is_contingent,flags.is_price_reduced,flags.is_pending,flags.is_foreclosure,flags.is_plan,flags.is_coming_soon,flags.is_new_listing,products.brand_name,location.address.postal_code,location.address.state,location.address.coordinate.lon,location.address.coordinate.lat,location.address.city,location.address.state_code,location.address.line,location.street_view_url,location.county.fips_code,location.county.name,primary_photo,source,other_listings,branding.name,branding.photo,branding.type,source.agents.office_name,other_listings.rdc.listing_id,other_listings.rdc.listing_key,other_listings.rdc.status,other_listings.rdc.primary,community.advertisers,community.description.name
count,8125,7647,8159,8159,7761,8159,7730,8.159000e+03,7434,7949,2076,7761,2585,8159,7403,6725,6725,7752,7317,7045,8159,8154,7314,8159,2531,7000,7326,7980.000000,2441,8159,4603,6266,7507,8125,8159,8159,8159,8159,8159,8159,8159,8159,8159,8159,8159,7673,8159.000000,8159,7909.000000,7909.000000,8154,8159,8144,8159,7619,8149,31,9,9,7734,2997,8159,1489,8.069000e+03,6930,8069,7924,5,5
unique,1716,1629,1795,1,1637,1,811,NaN,1628,1,291,1705,146,2,1627,2,2,1,257,4,127,754,14,1,6,800,1234,NaN,3,1,11,10,27,11,2,1,1,1,1,2,1,2,1,1,1,4,NaN,45,NaN,NaN,101,45,1789,1792,66,68,1,1,1,978,74,1,230,NaN,1,2,2,1,1
top,2023-10-20,['big_lot'],1410-Ridgewood-Dr-Ab_Jefferson-City_MO_65109_M...,sold,2024-01-05T17:38:27.000000Z,False,450000,NaN,False,False,False,False,10000.0,False,https://ap.rdcpix.com/ad5d27c0b1692b648a81b9cc...,False,False,mls,1920.0,False,2024-01-12,False,2.0,False,1.0,6098.0,1296.0,NaN,False,False,2.0,1.0,3.0,single_family,True,False,False,False,False,False,False,False,False,False,False,essentials,NaN,Maryland,NaN,NaN,Montgomery,MD,565 W Elliott Ave,https://maps.googleapis.com/maps/api/streetvie...,44007,Franklin,False,False,False,Joe R. Pyle Complete Auction And Realty Service,False,Office,False,NaN,False,sold,False,[{'office': {'hours': 'Monday - Saturday 10:00...,Woods of Copper Creek
freq,95,62,5,8159,80,8159,97,NaN,31,7949,725,9,384,7830,5,6720,6720,7752,148,6479,1146,1438,3100,8159,2104,166,35,NaN,1014,8159,2747,3170,2699,5457,8066,8159,8159,8159,8159,8082,8159,8117,8159,8159,8159,4900,NaN,210,NaN,NaN,210,210,10,10,210,404,31,9,9,189,2455,8159,128,NaN,6930,4621,7627,5,5
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.755508e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.131203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50946.997181,NaN,-92.206522,39.009689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.147486e+09,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.687366e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.175940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29257.110670,NaN,15.888886,4.374553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.116220e+09,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.003443e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2111.000000,NaN,-157.810583,21.277707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.002613e+08,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.307743e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25314.000000,NaN,-104.971611,35.688084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.050439e+08,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000993e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50310.000000,NaN,-89.333131,39.698210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.954911e+09,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.169927e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78739.000000,NaN,-78.617690,41.832266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.960788e+09,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.993679e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99801.000000,NaN,-71.006343,58.396178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.963230e+09,NaN,NaN,NaN,NaN,NaN

In [8]:
# Display all columns and their data types
print("Columns and their data types:")
print(df.dtypes)

Columns and their data types:
last_update_date                          object
tags                                      object
permalink                                 object
status                                    object
list_date                                 object
open_houses                               object
list_price                                object
property_id                              float64
photos                                    object
community                                 object
virtual_tours                             object
listing_id                                object
price_reduced_amount                      object
matterport                                object
primary_photo.href                        object
source.plan_id                            object
source.spec_id                            object
source.type                               object
description.year_built                    object
description.baths_3qtr                    object
description.sold_date                     object
description.sold_price                    object
description.baths_full                    object
description.name                          object
description.baths_half                    object
description.lot_sqft                      object
description.sqft                          object
description.baths                        float64
description.sub_type                      object
description.baths_1qtr                    object
description.garage                        object
description.stories                       object
description.beds                          object
description.type                          object
lead_attributes.show_contact_an_agent     object
flags.is_new_construction                 object
flags.is_for_rent                         object
flags.is_subdivision                      object
flags.is_contingent                       object
flags.is_price_reduced                    object
flags.is_pending                          object
flags.is_foreclosure                      object
flags.is_plan                             object
flags.is_coming_soon                      object
flags.is_new_listing                      object
products.brand_name                       object
location.address.postal_code             float64
location.address.state                    object
location.address.coordinate.lon          float64
location.address.coordinate.lat          float64
location.address.city                     object
location.address.state_code               object
location.address.line                     object
location.street_view_url                  object
location.county.fips_code                 object
location.county.name                      object
primary_photo                             object
source                                    object
other_listings                            object
branding.name                             object
branding.photo                            object
branding.type                             object
source.agents.office_name                 object
other_listings.rdc.listing_id            float64
other_listings.rdc.listing_key            object
other_listings.rdc.status                 object
other_listings.rdc.primary                object
community.advertisers                     object
community.description.name                object
dtype: object

In [9]:
# check the percentage of missing values in each column
missing_percentage = df.isnull().mean() * 100
print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
last_update_date                          0.805762
tags                                      6.641436
permalink                                 0.390673
status                                    0.390673
list_date                                 5.249664
open_houses                               0.390673
list_price                                5.628128
property_id                               0.390673
photos                                    9.241851
community                                 2.954462
virtual_tours                            74.655109
listing_id                                5.249664
price_reduced_amount                     68.440972
matterport                                0.390673
primary_photo.href                        9.620315
source.plan_id                           17.897693
source.spec_id                           17.897693
source.type                               5.359541
description.year_built                   10.670248
description.baths_3qtr                   13.990966
description.sold_date                     0.390673
description.sold_price                    0.451715
description.baths_full                   10.706873
description.name                          0.390673
description.baths_half                   69.100232
description.lot_sqft                     14.540349
description.sqft                         10.560371
description.baths                         2.575998
description.sub_type                     70.198999
description.baths_1qtr                    0.390673
description.garage                       43.804175
description.stories                      23.501404
description.beds                          8.350629
description.type                          0.805762
lead_attributes.show_contact_an_agent     0.390673
flags.is_new_construction                 0.390673
flags.is_for_rent                         0.390673
flags.is_subdivision                      0.390673
flags.is_contingent                       0.390673
flags.is_price_reduced                    0.390673
flags.is_pending                          0.390673
flags.is_foreclosure                      0.390673
flags.is_plan                             0.390673
flags.is_coming_soon                      0.390673
flags.is_new_listing                      0.390673
products.brand_name                       6.324014
location.address.postal_code              0.390673
location.address.state                    0.390673
location.address.coordinate.lon           3.442803
location.address.coordinate.lat           3.442803
location.address.city                     0.451715
location.address.state_code               0.390673
location.address.line                     0.573801
location.street_view_url                  0.390673
location.county.fips_code                 6.983274
location.county.name                      0.512758
primary_photo                            99.621536
source                                   99.890123
other_listings                           99.890123
branding.name                             5.579294
branding.photo                           63.411061
branding.type                             0.390673
source.agents.office_name                81.821511
other_listings.rdc.listing_id             1.489440
other_listings.rdc.listing_key           15.394946
other_listings.rdc.status                 1.489440
other_listings.rdc.primary                3.259675
community.advertisers                    99.938957
community.description.name               99.938957
dtype: float64

In [ ]:
# load and concatenate data here
# drop or replace values as necessary

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [ ]:
# OHE categorical variables here
# tags will have to be done manually

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE such as using central tendency?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- If you replace cities or states with numerical values, make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Drop columns that aren't needed.
- Don't keep the list price because it will be too close to the sale price.

In [ ]:
# perform train test split here
# do something with state and city
# drop any other not needed columns

**STRETCH**

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized