
- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [165]:
# import libraries
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import ast

## Directory

In [166]:
def process_json_files(directory_path, output_csv_path):
    """
    Process JSON files in the specified directory, normalize the data, and save it to a CSV file.

    Parameters:
    - directory_path: str, path to the directory containing JSON files.
    - output_csv_path: str, path to save the output CSV file.

    Returns:
    - None
    """
    # List all JSON files in the specified directory
    files = [f for f in os.listdir(directory_path) if f.endswith('.json')]
    print("Files in directory:")
    print(files)

    # Initialize an empty list to store dataframes
    df_list = []

    # Iterate over each JSON file in the directory
    for file_name in files:
        file_path = os.path.join(directory_path, file_name)
        
        # Open and read the JSON file
        with open(file_path, 'r') as file:
            data = json.load(file)
        
        # First level normalization
        df = pd.json_normalize(data['data']['results'])
        
        # Second level normalization
        if 'branding' in df.columns:
            branding = pd.json_normalize(df['branding'].explode())
            branding.columns = [f'branding.{col}' for col in branding.columns]
            df = df.drop('branding', axis=1).join(branding)

        if 'description' in df.columns:
            description = pd.json_normalize(df['description'])
            description.columns = [f'description.{col}' for col in description.columns]
            df = df.drop('description', axis=1).join(description)

        if 'flags' in df.columns:
            flags = pd.json_normalize(df['flags'])
            flags.columns = [f'flags.{col}' for col in flags.columns]
            df = df.drop('flags', axis=1).join(flags)

        if 'lead_attributes' in df.columns:
            lead_attributes = pd.json_normalize(df['lead_attributes'])
            lead_attributes.columns = [f'lead_attributes.{col}' for col in lead_attributes.columns]
            df = df.drop('lead_attributes', axis=1).join(lead_attributes)

        if 'location.address' in df.columns:
            location_address = pd.json_normalize(df['location.address'])
            location_address.columns = [f'location.address.{col}' for col in location_address.columns]
            df = df.drop('location.address', axis=1).join(location_address)

        if 'location.county' in df.columns:
            location_county = pd.json_normalize(df['location.county'])
            location_county.columns = [f'location.county.{col}' for col in location_county.columns]
            df = df.drop('location.county', axis=1).join(location_county)

        if 'products' in df.columns:
            products = pd.json_normalize(df['products'])
            products.columns = [f'products.{col}' for col in products.columns]
            df = df.drop('products', axis=1).join(products)

        # Third level normalization
        if 'location.address.coordinate' in df.columns:
            location_coordinates = pd.json_normalize(df['location.address.coordinate'])
            location_coordinates.columns = [f'location.address.coordinate.{col}' for col in location_coordinates.columns]
            df = df.drop('location.address.coordinate', axis=1).join(location_coordinates)

        if 'source.agents' in df.columns:
            source_agents = pd.json_normalize(df['source.agents'].explode())
            source_agents.columns = [f'source.agents.{col}' for col in source_agents.columns]
            df = df.drop('source.agents', axis=1).join(source_agents)
            
            # Handle duplicate office_name values
            if 'source.agents.office_name' in df.columns:
                df['source.agents.office_name'] = df['source.agents.office_name'].apply(lambda x: list(set(x)) if isinstance(x, list) else x)

        if 'other_listings.rdc' in df.columns:
            other_listings_rdc = pd.json_normalize(df['other_listings.rdc'].explode())
            other_listings_rdc.columns = [f'other_listings.rdc.{col}' for col in other_listings_rdc.columns]
            df = df.drop('other_listings.rdc', axis=1).join(other_listings_rdc)

        # Ensure all-bool object columns are cast to bool dtype
        for col in df.select_dtypes(include=['object']):
            if df[col].dropna().isin([True, False]).all():
                df[col] = df[col].astype(bool)
        
        # Append the dataframe to the list, skipping 'tags' column normalization
        df_list.append(df)

    # Combine all dataframes
    combined_df = pd.concat(df_list, ignore_index=True)

    # Save the combined DataFrame to a CSV file
    combined_df.to_csv(output_csv_path, index=False)

    print(f"Data saved to {output_csv_path}")

In [167]:
# example usage
directory_path = 'e:/Vocational/Lighthouse Labs/Flex Course/Projects/P02_Midterm_Supervised Learning/data_project_midterm/data'
output_csv_path = 'e:/Vocational/Lighthouse Labs/Flex Course/Projects/P02_Midterm_Supervised Learning/data_project_midterm/data/processed_data.csv'
process_json_files(directory_path, output_csv_path)

Files in directory:
['AK_Juneau_0.json', 'AK_Juneau_1.json', 'AK_Juneau_2.json', 'AK_Juneau_3.json', 'AK_Juneau_4.json', 'AL_Montgomery_0.json', 'AL_Montgomery_1.json', 'AL_Montgomery_2.json', 'AL_Montgomery_3.json', 'AL_Montgomery_4.json', 'AR_LittleRock_0.json', 'AR_LittleRock_1.json', 'AR_LittleRock_2.json', 'AR_LittleRock_3.json', 'AR_LittleRock_4.json', 'AZ_Phoenix_0.json', 'AZ_Phoenix_1.json', 'AZ_Phoenix_2.json', 'AZ_Phoenix_3.json', 'AZ_Phoenix_4.json', 'CA_Sacramento_0.json', 'CA_Sacramento_1.json', 'CA_Sacramento_2.json', 'CA_Sacramento_3.json', 'CA_Sacramento_4.json', 'CO_Denver_0.json', 'CO_Denver_1.json', 'CO_Denver_2.json', 'CO_Denver_3.json', 'CO_Denver_4.json', 'CT_Hartford_0.json', 'CT_Hartford_1.json', 'CT_Hartford_2.json', 'CT_Hartford_3.json', 'CT_Hartford_4.json', 'DE_Dover_0.json', 'DE_Dover_1.json', 'DE_Dover_2.json', 'DE_Dover_3.json', 'DE_Dover_4.json', 'FL_Tallahassee_0.json', 'FL_Tallahassee_1.json', 'FL_Tallahassee_2.json', 'FL_Tallahassee_3.json', 'FL_Tallahassee_4.json', 'GA_Atlanta_0.json', 'GA_Atlanta_1.json', 'GA_Atlanta_2.json', 'GA_Atlanta_3.json', 'GA_Atlanta_4.json', 'HI_Honolulu_0.json', 'HI_Honolulu_1.json', 'HI_Honolulu_2.json', 'HI_Honolulu_3.json', 'HI_Honolulu_4.json', 'IA_DesMoines_0.json', 'IA_DesMoines_1.json', 'IA_DesMoines_2.json', 'IA_DesMoines_3.json', 'IA_DesMoines_4.json', 'ID_Boise_0.json', 'ID_Boise_1.json', 'ID_Boise_2.json', 'ID_Boise_3.json', 'ID_Boise_4.json', 'IL_Springfield_0.json', 'IL_Springfield_1.json', 'IL_Springfield_2.json', 'IL_Springfield_3.json', 'IL_Springfield_4.json', 'IN_Indianapolis_0.json', 'IN_Indianapolis_1.json', 'IN_Indianapolis_2.json', 'IN_Indianapolis_3.json', 'IN_Indianapolis_4.json', 'KS_Topeka_0.json', 'KS_Topeka_1.json', 'KS_Topeka_2.json', 'KS_Topeka_3.json', 'KS_Topeka_4.json', 'KY_Frankfort_0.json', 'KY_Frankfort_1.json', 'KY_Frankfort_2.json', 'KY_Frankfort_3.json', 'KY_Frankfort_4.json', 'LA_BatonRouge_0.json', 'LA_BatonRouge_1.json', 'LA_BatonRouge_2.json', 'LA_BatonRouge_3.json', 'LA_BatonRouge_4.json', 'MA_Boston_0.json', 'MA_Boston_1.json', 'MA_Boston_2.json', 'MA_Boston_3.json', 'MA_Boston_4.json', 'MD_Annapolis_0.json', 'MD_Annapolis_1.json', 'MD_Annapolis_2.json', 'MD_Annapolis_3.json', 'MD_Annapolis_4.json', 'ME_Augusta_0.json', 'ME_Augusta_1.json', 'ME_Augusta_2.json', 'ME_Augusta_3.json', 'ME_Augusta_4.json', 'MI_Lansing_0.json', 'MI_Lansing_1.json', 'MI_Lansing_2.json', 'MI_Lansing_3.json', 'MI_Lansing_4.json', 'MN_St.Paul_0.json', 'MN_St.Paul_1.json', 'MN_St.Paul_2.json', 'MN_St.Paul_3.json', 'MN_St.Paul_4.json', 'MO_JeffersonCity_0.json', 'MO_JeffersonCity_1.json', 'MO_JeffersonCity_2.json', 'MO_JeffersonCity_3.json', 'MO_JeffersonCity_4.json', 'MS_Jackson_0.json', 'MS_Jackson_1.json', 'MS_Jackson_2.json', 'MS_Jackson_3.json', 'MS_Jackson_4.json', 'MT_Helena_0.json', 'MT_Helena_1.json', 'MT_Helena_2.json', 'MT_Helena_3.json', 'MT_Helena_4.json', 'NC_Raleigh_0.json', 'NC_Raleigh_1.json', 'NC_Raleigh_2.json', 'NC_Raleigh_3.json', 'NC_Raleigh_4.json', 'ND_Bismarck_0.json', 'ND_Bismarck_1.json', 'ND_Bismarck_2.json', 'ND_Bismarck_3.json', 'ND_Bismarck_4.json', 'NE_Lincoln_0.json', 'NE_Lincoln_1.json', 'NE_Lincoln_2.json', 'NE_Lincoln_3.json', 'NE_Lincoln_4.json', 'NH_Concord_0.json', 'NH_Concord_1.json', 'NH_Concord_2.json', 'NH_Concord_3.json', 'NH_Concord_4.json', 'NJ_Trenton_0.json', 'NJ_Trenton_1.json', 'NJ_Trenton_2.json', 'NJ_Trenton_3.json', 'NJ_Trenton_4.json', 'NM_SantaFe_0.json', 'NM_SantaFe_1.json', 'NM_SantaFe_2.json', 'NM_SantaFe_3.json', 'NM_SantaFe_4.json', 'NV_CarsonCity_0.json', 'NV_CarsonCity_1.json', 'NV_CarsonCity_2.json', 'NV_CarsonCity_3.json', 'NV_CarsonCity_4.json', 'NY_Albany_0.json', 'NY_Albany_1.json', 'NY_Albany_2.json', 'NY_Albany_3.json', 'NY_Albany_4.json', 'OH_Columbus_0.json', 'OH_Columbus_1.json', 'OH_Columbus_2.json', 'OH_Columbus_3.json', 'OH_Columbus_4.json', 'OK_OklahomaCity_0.json', 'OK_OklahomaCity_1.json', 'OK_OklahomaCity_2.json', 'OK_OklahomaCity_3.json', 'OK_OklahomaCity_4.json', 'OR_Salem_0.json', 'OR_Salem_1.json', 'OR_Salem_2.json', 'OR_Salem_3.json', 'OR_Salem_4.json', 'PA_Harrisburg_0.json', 'PA_Harrisburg_1.json', 'PA_Harrisburg_2.json', 'PA_Harrisburg_3.json', 'PA_Harrisburg_4.json', 'RI_Providence_0.json', 'RI_Providence_1.json', 'RI_Providence_2.json', 'RI_Providence_3.json', 'RI_Providence_4.json', 'SC_Columbia_0.json', 'SC_Columbia_1.json', 'SC_Columbia_2.json', 'SC_Columbia_3.json', 'SC_Columbia_4.json', 'SD_Pierre_0.json', 'SD_Pierre_1.json', 'SD_Pierre_2.json', 'SD_Pierre_3.json', 'SD_Pierre_4.json', 'TN_Nashville_0.json', 'TN_Nashville_1.json', 'TN_Nashville_2.json', 'TN_Nashville_3.json', 'TN_Nashville_4.json', 'TX_Austin_0.json', 'TX_Austin_1.json', 'TX_Austin_2.json', 'TX_Austin_3.json', 'TX_Austin_4.json', 'UT_SaltLakeCity_0.json', 'UT_SaltLakeCity_1.json', 'UT_SaltLakeCity_2.json', 'UT_SaltLakeCity_3.json', 'UT_SaltLakeCity_4.json', 'VA_Richmond_0.json', 'VA_Richmond_1.json', 'VA_Richmond_2.json', 'VA_Richmond_3.json', 'VA_Richmond_4.json', 'VT_Montpelier_0.json', 'VT_Montpelier_1.json', 'VT_Montpelier_2.json', 'VT_Montpelier_3.json', 'VT_Montpelier_4.json', 'WA_Olympia_0.json', 'WA_Olympia_1.json', 'WA_Olympia_2.json', 'WA_Olympia_3.json', 'WA_Olympia_4.json', 'WI_Madison_0.json', 'WI_Madison_1.json', 'WI_Madison_2.json', 'WI_Madison_3.json', 'WI_Madison_4.json', 'WV_Charleston_0.json', 'WV_Charleston_1.json', 'WV_Charleston_2.json', 'WV_Charleston_3.json', 'WV_Charleston_4.json', 'WY_Cheyenne_0.json', 'WY_Cheyenne_1.json', 'WY_Cheyenne_2.json', 'WY_Cheyenne_3.json', 'WY_Cheyenne_4.json']
Data saved to e:/Vocational/Lighthouse Labs/Flex Course/Projects/P02_Midterm_Supervised Learning/data_project_midterm/data/processed_data.csv

At this point, ensure that you have all sales in a dataframe.

In [168]:
df = pd.read_csv(output_csv_path, low_memory=False)

In [169]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

- Is each cell one value, or do some cells have lists?

In [170]:
df.head()

,last_update_date,tags,permalink,status,list_date,open_houses,list_price,property_id,photos,community,virtual_tours,listing_id,price_reduced_amount,matterport,primary_photo.href,source.plan_id,source.spec_id,source.type,description.year_built,description.baths_3qtr,description.sold_date,description.sold_price,description.baths_full,description.name,description.baths_half,description.lot_sqft,description.sqft,description.baths,description.sub_type,description.baths_1qtr,description.garage,description.stories,description.beds,description.type,lead_attributes.show_contact_an_agent,flags.is_new_construction,flags.is_for_rent,flags.is_subdivision,flags.is_contingent,flags.is_price_reduced,flags.is_pending,flags.is_foreclosure,flags.is_plan,flags.is_coming_soon,flags.is_new_listing,products.brand_name,location.address.postal_code,location.address.state,location.address.coordinate.lon,location.address.coordinate.lat,location.address.city,location.address.state_code,location.address.line,location.street_view_url,location.county.fips_code,location.county.name,primary_photo,source,other_listings,branding.name,branding.photo,branding.type,source.agents.office_name,other_listings.rdc.listing_id,other_listings.rdc.listing_key,other_listings.rdc.status,other_listings.rdc.primary,community.advertisers,community.description.name
0,2023-09-19T20:52:50Z,"['carport', 'community_outdoor_space', 'cul_de...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,sold,2023-06-29T21:16:25.000000Z,False,554950.0,9.074431e+09,"[{'tags': [{'label': 'house_view', 'probabilit...",False,False,2957241843,45000.0,False,https://ap.rdcpix.com/07097d34c98a59ebb7996889...,NaN,NaN,mls,1963.0,False,2023-09-18,False,2.0,False,False,10454.0,1821.0,2.0,NaN,False,1.0,NaN,3.0,single_family,True,False,False,False,False,False,False,False,False,False,False,basic_opt_in,99801.0,Alaska,-134.59372,58.36395,Juneau,AK,9453 Herbert Pl,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,EXP Realty LLC - Southeast Alaska,False,Office,EXP Realty LLC - Southeast Alaska,2.957242e+09,NaN,sold,True,NaN,NaN
1,NaN,NaN,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,sold,NaN,False,NaN,9.424984e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-22,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,8477 Thunder Mountain Rd,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,Non-Member Office,2.957023e+09,NaN,off_market,False,NaN,NaN
2,NaN,NaN,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,sold,NaN,False,NaN,9.479069e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-22,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,4515 Glacier Hwy,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,NaN,2.958935e+09,NaN,sold,False,NaN,NaN
3,NaN,NaN,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,sold,NaN,False,NaN,9.879332e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-21,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,17850 Point Stephens Rd,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,NaN,2.958935e+09,NaN,sold,False,NaN,NaN
4,NaN,NaN,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,sold,NaN,False,NaN,9.521640e+09,NaN,False,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False,2023-08-21,False,NaN,False,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,False,False,False,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,9951 Stephen Richards Memorial Dr,https://maps.googleapis.com/maps/api/streetvie...,False,Juneau,NaN,NaN,NaN,NaN,False,Office,NaN,2.958925e+09,NaN,sold,False,NaN,NaN

- What are the data types of each column?

In [171]:
# display all columns and their data types
print("Columns and their data types:")
print(df.dtypes)

Columns and their data types:
last_update_date                          object
tags                                      object
permalink                                 object
status                                    object
list_date                                 object
open_houses                               object
list_price                                object
property_id                              float64
photos                                    object
community                                 object
virtual_tours                             object
listing_id                                object
price_reduced_amount                      object
matterport                                object
primary_photo.href                        object
source.plan_id                            object
source.spec_id                            object
source.type                               object
description.year_built                    object
description.baths_3qtr                    object
description.sold_date                     object
description.sold_price                    object
description.baths_full                    object
description.name                          object
description.baths_half                    object
description.lot_sqft                      object
description.sqft                          object
description.baths                        float64
description.sub_type                      object
description.baths_1qtr                    object
description.garage                        object
description.stories                       object
description.beds                          object
description.type                          object
lead_attributes.show_contact_an_agent     object
flags.is_new_construction                 object
flags.is_for_rent                         object
flags.is_subdivision                      object
flags.is_contingent                       object
flags.is_price_reduced                    object
flags.is_pending                          object
flags.is_foreclosure                      object
flags.is_plan                             object
flags.is_coming_soon                      object
flags.is_new_listing                      object
products.brand_name                       object
location.address.postal_code             float64
location.address.state                    object
location.address.coordinate.lon          float64
location.address.coordinate.lat          float64
location.address.city                     object
location.address.state_code               object
location.address.line                     object
location.street_view_url                  object
location.county.fips_code                 object
location.county.name                      object
primary_photo                             object
source                                    object
other_listings                            object
branding.name                             object
branding.photo                            object
branding.type                             object
source.agents.office_name                 object
other_listings.rdc.listing_id            float64
other_listings.rdc.listing_key            object
other_listings.rdc.status                 object
other_listings.rdc.primary                object
community.advertisers                     object
community.description.name                object
dtype: object

- Some sales may not actually include the sale price. These rows should be dropped.

In [172]:
# number of rows before dropping
rows_before = len(df)

# drop rows without 'description.sold_price' (target variable)
df = df.dropna(subset=['description.sold_price'])

# number of rows after dropping
rows_after = len(df)

# calculate the number of rows dropped
rows_dropped = rows_before - rows_after

# print the number of rows dropped
print(f"Number of rows dropped: {rows_dropped}")

Number of rows dropped: 37

- There are a lot of None values.  Should these be dropped or replaced with something?

In [173]:
# check the percentage of missing values in each column
missing_percentage = df.isnull().mean() * 100
print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
last_update_date                          0.416973
tags                                      6.217807
permalink                                 0.000000
status                                    0.000000
list_date                                 4.881040
open_houses                               0.000000
list_price                                5.261221
property_id                               0.000000
photos                                    8.891342
community                                 2.575423
virtual_tours                            74.540103
listing_id                                4.881040
price_reduced_amount                     68.297768
matterport                                0.000000
primary_photo.href                        9.271523
source.plan_id                           17.525141
source.spec_id                           17.525141
source.type                               4.991415
description.year_built                   10.326220
description.baths_3qtr                   13.662006
description.sold_date                     0.000000
description.sold_price                    0.000000
description.baths_full                   10.363012
description.name                          0.000000
description.baths_half                   68.960020
description.lot_sqft                     14.152563
description.sqft                         10.154525
description.baths                         2.195242
description.sub_type                     70.063772
description.baths_1qtr                    0.000000
description.garage                       43.549178
description.stories                      23.154280
description.beds                          7.996076
description.type                          0.416973
lead_attributes.show_contact_an_agent     0.000000
flags.is_new_construction                 0.000000
flags.is_for_rent                         0.000000
flags.is_subdivision                      0.000000
flags.is_contingent                       0.000000
flags.is_price_reduced                    0.000000
flags.is_pending                          0.000000
flags.is_foreclosure                      0.000000
flags.is_plan                             0.000000
flags.is_coming_soon                      0.000000
flags.is_new_listing                      0.000000
products.brand_name                       5.960265
location.address.postal_code              0.000000
location.address.state                    0.000000
location.address.coordinate.lon           3.065980
location.address.coordinate.lat           3.065980
location.address.city                     0.061320
location.address.state_code               0.000000
location.address.line                     0.183959
location.street_view_url                  0.000000
location.county.fips_code                 6.622517
location.county.name                      0.122639
primary_photo                            99.619818
source                                   99.889625
other_listings                           99.889625
branding.name                             5.212166
branding.photo                           63.306353
branding.type                             0.000000
source.agents.office_name                81.763552
other_listings.rdc.listing_id             1.103753
other_listings.rdc.listing_key           15.011038
other_listings.rdc.status                 1.103753
other_listings.rdc.primary                2.820701
community.advertisers                    99.938680
community.description.name               99.938680
dtype: float64

In [174]:
# calculate the percentage of missing values in each column
missing_percentage = df.isnull().mean() * 100

# define a threshold for dropping columns (e.g., rule of thumb: more than 50% missing values)
threshold = 50

# identify columns to drop based on the threshold
columns_to_drop = missing_percentage[missing_percentage > threshold].index

# drop the identified columns from the DataFrame
df = df.drop(columns=columns_to_drop)

# print the dropped columns
print(f"Dropped columns: {columns_to_drop}")

# display the remaining columns
print("Remaining columns after dropping:")
print(df.columns)

Dropped columns: Index(['virtual_tours', 'price_reduced_amount', 'description.baths_half',
       'description.sub_type', 'primary_photo', 'source', 'other_listings',
       'branding.photo', 'source.agents.office_name', 'community.advertisers',
       'community.description.name'],
      dtype='object')
Remaining columns after dropping:
Index(['last_update_date', 'tags', 'permalink', 'status', 'list_date',
       'open_houses', 'list_price', 'property_id', 'photos', 'community',
       'listing_id', 'matterport', 'primary_photo.href', 'source.plan_id',
       'source.spec_id', 'source.type', 'description.year_built',
       'description.baths_3qtr', 'description.sold_date',
       'description.sold_price', 'description.baths_full', 'description.name',
       'description.lot_sqft', 'description.sqft', 'description.baths',
       'description.baths_1qtr', 'description.garage', 'description.stories',
       'description.beds', 'description.type',
       'lead_attributes.show_contact_an_agent', 'flags.is_new_construction',
       'flags.is_for_rent', 'flags.is_subdivision', 'flags.is_contingent',
       'flags.is_price_reduced', 'flags.is_pending', 'flags.is_foreclosure',
       'flags.is_plan', 'flags.is_coming_soon', 'flags.is_new_listing',
       'products.brand_name', 'location.address.postal_code',
       'location.address.state', 'location.address.coordinate.lon',
       'location.address.coordinate.lat', 'location.address.city',
       'location.address.state_code', 'location.address.line',
       'location.street_view_url', 'location.county.fips_code',
       'location.county.name', 'branding.name', 'branding.type',
       'other_listings.rdc.listing_id', 'other_listings.rdc.listing_key',
       'other_listings.rdc.status', 'other_listings.rdc.primary'],
      dtype='object')

In [175]:
# list of irrelevant columns to drop
columns_to_drop = ['last_update_date', 'permalink', 'status', 'open_houses', 'list_price', 'property_id', 'photos', 'community', 
                   'listing_id', 'matterport', 'primary_photo.href', 'source.plan_id', 'source.spec_id', 'source.type', 
                   'location.street_view_url', 'matterport', 'description.name', 'description.baths_1qtr', 
                   'lead_attributes.show_contact_an_agent', 'flags.is_new_construction', 'flags.is_for_rent', 'flags.is_subdivision', 
                   'flags.is_contingent', 'flags.is_pending', 'flags.is_plan', 'flags.is_coming_soon', 'flags.is_new_listing', 
                   'products.brand_name', 'location.address.postal_code', 'location.address.coordinate.lon', 'location.address.coordinate.lat', 
                   'location.address.state_code', 'location.address.line', 'location.street_view_url', 'location.county.fips_code', 'branding.type', 
                   'other_listings.rdc.listing_id', 'other_listings.rdc.listing_key', 'other_listings.rdc.status', 'other_listings.rdc.primary']

# drop the specified columns
df = df.drop(columns=columns_to_drop)

In [179]:
# Convert tags to lists
df['tags'] = df['tags'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Convert date columns to datetime
df['list_date'] = pd.to_datetime(df['list_date'], errors='coerce')
df['description.sold_date'] = pd.to_datetime(df['description.sold_date'], errors='coerce')

# Convert year built to integer
df['description.year_built'] = pd.to_numeric(df['description.year_built'], errors='coerce').astype('Int64')

# Convert baths_3qtr, baths_full, and other bath-related columns to numeric
df['description.baths_3qtr'] = pd.to_numeric(df['description.baths_3qtr'], errors='coerce').astype('Int64')
df['description.baths_full'] = pd.to_numeric(df['description.baths_full'], errors='coerce').astype('Int64')
df['description.baths'] = pd.to_numeric(df['description.baths'], errors='coerce').astype('float')
df['description.garage'] = pd.to_numeric(df['description.garage'], errors='coerce').astype('Int64')

# Convert sold_price, lot_sqft, and sqft to numeric
df['description.sold_price'] = pd.to_numeric(df['description.sold_price'], errors='coerce').astype('float')
df['description.lot_sqft'] = pd.to_numeric(df['description.lot_sqft'], errors='coerce').astype('Int64')
df['description.sqft'] = pd.to_numeric(df['description.sqft'], errors='coerce').astype('Int64')

# Convert stories and beds to integer
df['description.stories'] = pd.to_numeric(df['description.stories'], errors='coerce').astype('Int64')
df['description.beds'] = pd.to_numeric(df['description.beds'], errors='coerce').astype('Int64')

# Convert type to string
df['description.type'] = df['description.type'].astype(str)

# Convert flags to boolean
df['flags.is_price_reduced'] = df['flags.is_price_reduced'].astype(bool)
df['flags.is_foreclosure'] = df['flags.is_foreclosure'].astype(bool)

# Convert location and branding columns to string
df['location.address.state'] = df['location.address.state'].astype(str)
df['location.address.city'] = df['location.address.city'].astype(str)
df['location.county.name'] = df['location.county.name'].astype(str)
df['branding.name'] = df['branding.name'].astype(str)

# Display the DataFrame with updated types
print(df.dtypes)

tags                                   object
list_date                 datetime64[ns, UTC]
description.year_built                  Int64
description.baths_3qtr                  Int64
description.sold_date          datetime64[ns]
description.sold_price                float64
description.baths_full                  Int64
description.lot_sqft                    Int64
description.sqft                        Int64
description.baths                     float64
description.garage                      Int64
description.stories                     Int64
description.beds                        Int64
description.type                       object
flags.is_price_reduced                   bool
flags.is_foreclosure                     bool
location.address.state                 object
location.address.city                  object
location.county.name                   object
branding.name                          object
dtype: object

- Some sales don't include the property type.

In [180]:
# impute missing values for categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
imputer = SimpleImputer(strategy='most_frequent')
df[categorical_cols] = imputer.fit_transform(df[categorical_cols])

TypeError: unhashable type: 'list'

In [156]:
# impute missing values for numerical columns
numerical_cols = df.select_dtypes(include=['number']).columns
imputer = SimpleImputer(strategy='median')
df[numerical_cols] = imputer.fit_transform(df[numerical_cols])

In [177]:
# Define a function to replace False with 0
def replace_false_with_zero(value):
    if value is False:
        return 0
    return value

# Apply the function to the 'description.baths_3qtr' column
if 'description.baths_3qtr' in df.columns:
    df['description.baths_3qtr'] = df['description.baths_3qtr'].apply(replace_false_with_zero)

In [178]:
# check the percentage of missing values in each column
missing_percentage = df.isnull().mean() * 100
print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
tags                      0.000000
list_date                 0.000000
description.year_built    0.000000
description.baths_3qtr    0.000000
description.sold_date     0.000000
description.sold_price    0.000000
description.baths_full    0.000000
description.lot_sqft      0.000000
description.sqft          0.000000
description.baths         2.195242
description.garage        0.000000
description.stories       0.000000
description.beds          0.000000
description.type          0.000000
flags.is_price_reduced    0.000000
flags.is_foreclosure      0.000000
location.address.state    0.000000
location.address.city     0.000000
location.county.name      0.000000
branding.name             0.000000
dtype: float64

In [159]:
# Feature engineer new column called 'days_on_market'

# Ensure the date columns are in the same format and timezone-naive
df['description.sold_date'] = pd.to_datetime(df['description.sold_date'], errors='coerce').dt.tz_localize(None)
df['list_date'] = pd.to_datetime(df['list_date'], errors='coerce').dt.tz_localize(None)

# Calculate the days on market
df['days_on_market'] = (df['description.sold_date'] - df['list_date']).dt.days

# Drop the original date columns
df = df.drop(['description.sold_date', 'list_date'], axis=1)

Consider the fact that with tags, there are a lot of categorical variables.
- Maybe the "tags" will help create some features.
- Perhaps we can get rid of tags that have a low frequency.

In [160]:
#Feature engineer a new column called 'number_of_attributes' from the 'tags' column

# Convert string representation of lists into actual lists and handle booleans
def convert_to_list(val):
    if isinstance(val, bool):
        return []  # Treat boolean as an empty list
    try:
        return ast.literal_eval(val)
    except (ValueError, SyntaxError):
        return []

df['tags'] = df['tags'].apply(convert_to_list)

# Count the number of values in each list and create a new column
df['number_of_attributes'] = df['tags'].apply(lambda x: len(x) if isinstance(x, list) else 0)

# Drop the original 'tags' column
df = df.drop('tags', axis=1)

In [161]:
# Count the number of unique values in the 'number_of_attributes' column
num_unique_values = df['number_of_attributes'].nunique()
print(f"Number of unique values in 'number_of_attributes': {num_unique_values}")

Number of unique values in 'number_of_attributes': 32

In [162]:
# function to cap outliers at a specified percentile
def cap_outliers(df, cols, lower_percentile=0.05, upper_percentile=0.95):
    for col in cols:
        lower_bound = df[col].quantile(lower_percentile)
        upper_bound = df[col].quantile(upper_percentile)
        df[col] = df[col].clip(lower=lower_bound, upper=upper_bound)
    return df

# identify all numerical columns to cap outliers
numerical_cols_to_cap = df.select_dtypes(include=['number']).columns

# cap outliers in these numerical columns
df = cap_outliers(df, numerical_cols_to_cap)

- How many columns would we have if we OHE tags, city and state?

In [163]:
# One-hot encode the specified columns
columns_to_encode = [
    'location.address.city', 'location.address.state', 
    'location.county.name', 'branding.name', 
    'flags.is_price_reduced', 'flags.is_foreclosure'
]

# One-hot encoding for the specified columns
df = pd.get_dummies(df, columns=columns_to_encode, prefix=columns_to_encode)

In [164]:
# Save the combined DataFrame to a CSV file
df.to_csv(output_csv_path, index=False)
print(f"Data saved to {output_csv_path}")

Data saved to e:/Vocational/Lighthouse Labs/Flex Course/Projects/P02_Midterm_Supervised Learning/data_project_midterm/data/processed_data.csv

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE such as using central tendency?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- If you replace cities or states with numerical values, make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Drop columns that aren't needed.
- Don't keep the list price because it will be too close to the sale price.

In [19]:
# split the DataFrame into training (70%) and test (30%) sets
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

In [20]:
# save the split data to CSV files if needed
train_df.to_csv('train_data.csv', index=False)
test_df.to_csv('test_data.csv', index=False)

**STRETCH**

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# Load Data
df = pd.read_csv('path_to_your_data/processed_data.csv')

In [ ]:
# 1. Summary Statistics
def summary_statistics(df):
    print("Summary Statistics:")
    print(df.describe())
    print("\nData Types:")
    print(df.dtypes)
    print("\nMissing Values:")
    print(df.isnull().sum())

summary_statistics(df)

In [ ]:
# 2. Check for Missing Values
def missing_values(df):
    print("\nMissing Values:")
    print(df.isnull().sum())

missing_values(df)

In [ ]:
# 3. Distributions of Numerical Variables
def plot_distributions(df):
    numerical_cols = df.select_dtypes(include=[np.number]).columns
    for col in numerical_cols:
        plt.figure(figsize=(10, 6))
        sns.histplot(df[col], kde=True)
        plt.title(f'Distribution of {col}')
        plt.show()

plot_distributions(df)

In [ ]:
# 4. Scatterplots for Numerical Variables and Target
def scatterplots(df, target_col):
    numerical_cols = df.select_dtypes(include=[np.number]).columns
    numerical_cols = [col for col in numerical_cols if col != target_col]
    for col in numerical_cols:
        plt.figure(figsize=(10, 6))
        sns.scatterplot(x=df[col], y=df[target_col])
        plt.title(f'Scatterplot of {col} vs {target_col}')
        plt.show()

target_col = 'sold_price'
scatterplots(df, target_col)

In [ ]:
# 5. Correlation Heatmap
def correlation_heatmap(df):
    plt.figure(figsize=(12, 10))
    corr_matrix = df.corr()
    sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
    plt.title('Correlation Heatmap')
    plt.show()

correlation_heatmap(df)

In [ ]:
# 6. Redundant Features
def check_redundant_features(df):
    corr_matrix = df.corr().abs()
    upper_triangle = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    redundant_features = [column for column in upper_triangle.columns if any(upper_triangle[column] > 0.8)]
    print("Redundant Features:")
    print(redundant_features)

check_redundant_features(df)

In [ ]:
# 7. Boxplots to Identify Outliers
def plot_boxplots(df):
    numerical_cols = df.select_dtypes(include=[np.number]).columns
    for col in numerical_cols:
        plt.figure(figsize=(10, 6))
        sns.boxplot(x=df[col])
        plt.title(f'Boxplot of {col}')
        plt.show()

plot_boxplots(df)

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized